# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs

x64/*

VulkanTest2/x64/*
VulkanTest2/resource.h
VulkanTest2/VulkanTest2.aps
VulkanTest2/VulkanTest2.rc
VulkanTest2/VulkanTest2.vcxproj
VulkanTest2/VulkanTest2.vcxproj.filters
VulkanTest2/VulkanTest2.vcxproj.user